.button {
  background-color: #cd3545;
  border: none;
}

.button:hover {
  background-color: #cd4541;
}

.section-heading {
  font-size: 40px;
  font-weight: 500;
}

.section-content {
  font-size: 17px;
  font-weight: 400;
}

.section1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo {
  height: 300px;
  width: 300px;
}

.section2 {
  margin-bottom: 0px;
  padding: 30px;
  text-align: center;
}

.sec2color {
  color: #cd4541;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-detail {
  text-align: left;
}

.card-button {
  text-align: right;
}

.card-shadow {
  box-shadow: 1px 1px 2px rgb(223, 223, 223), 0 0 25px rgb(201, 201, 201),
    0 0 25px rgb(201, 201, 201), 0 0 5px rgb(197, 197, 197);
}

.section3 {
  height: 945px;
  background-image: url(https://cs-pricing-page.netlify.app/img/banner.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec3size {
  font-size: 20px;
}

.form-section {
  margin-bottom: 0px;
}

.formsize {
  font-size: 25px;
}
.form {
  text-align: center;
  margin-bottom: 80px;
}

.form-button {
  width: 100%;
  margin-bottom: 60px;
}

#container {
  text-align: center;
  height: 100px;
}

#text {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  font-weight: 600;
  color: #cd4541;
  letter-spacing: 2px;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: white;
  animation: blink 0.75s step-end infinite;
}

/* checkout page css */
.checkoutpage-margin {
  margin-bottom: 0px;
}

.checkoutpage-title {
  text-align: center;
  margin-bottom: 60px;
}

.checkoutpage {
  display: flex;
  justify-content: space-between;
}

.section-left {
  width: 65%;
}

.section-right {
  width: 30%;
  float: right;
}

.badge {
  background-color: gray;
  width: 25px;
  height: 18px;
  text-align: center;
}

.product {
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(209, 209, 209);
}

.productinfo {
  color: rgb(124, 124, 124);
}

.promo {
  background-color: rgb(228, 232, 238);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(209, 209, 209);
  color: rgb(81, 185, 81);
}

.redeem {
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(209, 209, 209);
}

.remove-margin {
  margin: 0px;
  padding: 0px;
}

.redeem-button {
  background-color: gray;
  border: none;
}
